{# C# file generation template. Expects a namespace object `ns` and `lang` in the context. #}
using System;
using System.Collections.Generic;

namespace {{ ns.name | default("Global.Types") }}
{
{# Loop through all type definitions (structs and enums) in the namespace #}
{%- for type_def in ns.types %}

{%- if type_def.Struct is defined %}
{%- set s = type_def.Struct %}
{%- if s.comment %}
/// <summary>
    /// {{ s.comment | wordwrap(80, wrapstring="\n /// ") }}
    /// </summary>
{%- endif %}
public partial class {{ s.name }}
{
{%- for field in s.fields %}
{%- if field.comment %}
/// <summary>
    /// {{ field.comment | wordwrap(80, wrapstring="\n /// ") }}
    /// </summary>
{%- endif %}
{%- for attr in field.attributes %}
[{{ attr }}]
{%- endfor %}
public {{ field.field_type | map_type(lang) }} {{ field.name | pascal_case }} { get; set; }
{%- if not loop.last %}

{%- endif %}
{%- endfor %}
}
{%- elif type_def.Enum is defined %}
{%- set e = type_def.Enum %}
{%- if e.comment %}
/// <summary>
    /// {{ e.comment | wordwrap(80, wrapstring="\n /// ") }}
    /// </summary>
{%- endif %}
public enum {{ e.name }}
{
{%- for member in e.members %}
{{ member }},
{%- endfor %}
}
{%- endif %}
{%- if not loop.last %}

{%- endif %}
{%- endfor %}
}